.movies{
    margin-top: 30px;
    width: 1200px;
    height: 800px;
    padding: 20px;
    box-sizing: border-box;
}
.movies h3{
    text-align: center;
}
.cartPart{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: black;
}
.jumpMovie{
    padding: 0;
    width: 200px;
    height: 400px; 
    overflow: hidden;
    text-decoration: none;
    border: none;
    border-radius: 20px;
}